$color-1: #f54545;
$color-2: #f7752b;
$color-3: #28ac17;
$color-4: #1d7cbb;
$color-5: #1f348f;
$color-6: #ffffff;
$color-7: #bebebe;
$color-8: #494949;
$color-9: #b4b4b4;

#App {
    padding: 10px 20px;
}
