#Intro {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-7;
    display: inline-block;

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    li {
        list-style-position: inside;
        list-style-type: circle;
    }
}
