#Intro {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid $color-7;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    li {
        list-style-position: inside;
        list-style-type: circle;
    }
}
